
body,html {
    font-family: helvetica;
    color:#3c3c3c;
}

h1,h2,h3,h4,h5,h6 {
    font-family: osp;
    font-size:3em;
    letter-spacing: -0.01em;
    margin: 0.2em;
    margin-left: 0em;
    padding: 0;
}

h2 { font-size: 2em; margin-top:0.5em;}
h3 { font-size: 1.5em; margin-top:0.6em; }
h4 { font-size: 1.1em; }
h5 { font-size: 1em; }
h6 { font-size: 0.9em; }

img {
    clear: both;
    display: block;
}
hr {
    border: 0;
    border-top: 1px solid #ECECEC;
}


li {
    font-size: 1em;
    letter-spacing: -0.05em;
    max-width: 80%;
    color:#999;
}

b {
    color:#3c3c3c;
}

a {
    text-decoration: none;
    font-size: 0.9em;
    color:#f6007b;
    border:0;
    outline: 0;
}

code {
    font-size: 1.2em;
}

a:hover {
    color:#242424;
}

.content {
    max-width:45em;
    width:50em;
    left:50%;
    margin-left: -22.5em;
    position: relative;
    display: block;
}

.item {
    font-size: 1.5em;
}

.item_small {
    font-size: 1.2em;
}

.text-small {
    font-size: 0.8em;
    color:#999;
}

.text {
    font-size: 0.9em;
}

.icon img {
    display: inline-block;
    margin-bottom: 0.5em;
    max-width: 5em;
    max-height: 5em;
}

.desc {
    font-size: 0.8em;
    margin-left: 1em;
    color:#888;
}